.footer {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 10px;
  box-shadow: 0 0 4px -1px rgba(52, 142, 226, 0.582);
}
.date {
  text-align: center;
  color: rgb(124, 124, 124);
  font-size: 16px;
  padding-top: 5px;
}
.date a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-weight: bold;
}
@media only screen and (max-width: 1260px) {
  .date {
    font-size: 13px;
  }
}
