.footer {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 10px;
}
.date {
  text-align: center;
  color: rgb(124, 124, 124);
  font-size: 18px;
}
@media only screen and (max-width: 1260px) {
  .date {
    font-size: 13px;
  }
}
